extends layout

block content
  h1 #{title}

  form(method='POST' action='')
    div.form-group
      label(for='name') Crypto Name:
        input#name.form-control(type='text', placeholder='Bitcoin, Etherunm etc.' name='name' required='true' value=(undefined===crypto ? '' : crypto.name))
      label(for='price') Crypto Price:
        input#name.form-control(type='number', placeholder='Price of the coin' name='price' required='true' value=(undefined===crypto ? '' : crypto.price))
      label(for='copacity') Crypto Copacity:
        input#name.form-control(type='number', placeholder='Copacity of the coin' name='copacity' required='true' value=(undefined===crypto ? '' : crypto.copacity))
    button.btn.btn-primary(type='submit') Submit

  if errors
   ul
    for error in errors
     li!= error.msg