extends layout

block content
  h1= title
  p Welcome to #[em CryptoNews], Your cryptocurrency website.

  h1 Dynamic content

  if error
    p Error getting dynamic content.
  else
    p The website has the following record counts:

    ul
      li #[strong Cryptos:] !{data.crypto_count}
      li #[strong Users:] !{data.user_count}
      li #[strong Articles:] !{data.article_count}

      a(href='http://localhost:3000/users/login') login/signup