extends layout 

block content 

    h1 #{title}

    form(method='POST' action='')
        div.form-group 
        label(for='username') username: 
            input#i_username.form-control(type='text', placeholder='enter username or email', required='true',name='user_name', value=(undefined===user ? '' : user.username))
        br
        //- label(for='username') password: 
            input#i_password.form-control(type='password', placeholder='enter password', required='true',name='pass', value=(undefined===user ? '' : user.password))
                
        button.btn.btn-primary(type='submit') Login

    if errors
        ul
        for error in errors
            li!= error.msg
